**/Recordings
**/Recordings/
**/Recordings/*
**/Admin
**/Admin/
**/Admin/*
**/.ipynb_checkpoints
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/*
**/data
**/data/
**/data/*
**/MNIST
**/MNIST/
**/MNIST/*
*.zip
*.rar